<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="Cnn.ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=.\db\Valuation.mdb;Persist Security Info=True;Jet OLEDB:Database Password=123" />
	</appSettings>
</configuration>